name: publish

permissions:
  id-token: write  # Required for trusted publishing
  contents: write

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  bump-version-pr:
    uses: maplibre/reusable-workflows/.github/workflows/npm-publish.yml@main
    with:
      version: ${{ github.event.inputs.release_type }}
      build-command: npm run build-dist
